html {
    background: url(img/flzc.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background: rgba(55, 55, 55, .8);
    mix-blend-mode: overlay;
    color: rgba(255, 255, 255, .8);
    padding: 7px 10px;
    border-radius: 5px;
    width: 250px;
    font-size: 10em;
    line-height: .8em;
    margin-top: 10vh;
    margin-bottom: 0px;
    letter-spacing: 20px;
}

h2 {
    background: rgba(202, 202, 202, 0.6);
    color: rgba(55, 55, 55);
    font-size: 1em;
    border-radius: 5px;
    width: 250px;
    padding: 0px 10px;
    margin-top: 10px;
}

button {
    text-align: left;
    padding: 0 16px;
    border-width: 0px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 270px;
    background-color: rgba(0, 112, 153, 0.6);
    margin-bottom: 16px;
}

button:hover {
    background-color: rgba(0, 112, 153);
}

#enter {
    background-color: rgba(23, 170, 48, 0.6);
    margin-top: 16px;
}

#enter:hover {
    background-color: rgb(23, 170, 48);
}

.fa-plus-circle {
    font-size: 21px;
}

.fas {
    margin-right: 8px;
}

@media only screen and (min-width: 600px) {
    .main {
        align-items: flex-start;
        padding: 0 40px;
    }
    button {
        font-size: 1.5em;
    }
}